body, html {
    overflow-x: hidden;
    background-color: #424242;
    background: linear-gradient(90deg, rgba(20,20,20,1) 0%, rgba(66,66,66,1) 50%, rgba(20,20,20,1) 100%), linear-gradient(90deg, rgba(20,20,20,1) 75%, rgba(66,66,66,1) 100%);
}

.hidden {
    display: none;
}

.container {
    padding-bottom: 30vh;
}

.other-projects {
    color: #acacac;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    border-top: #f3f4f5 2px solid;
}

.fi {
    text-decoration: none;
}

.link {
    color: #a3a3a3 !important;

    text-decoration: none;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}

/* Nav */

.nav {
    color: white;
    padding: 50px 10vw 50px 10vw;
}

.nav .title {
    font-family: 'Ubuntu', sans-serif;
    border-right: #cecece 2px solid;
    display: inline-block;
}

.nav .links a {
    font-size: 1.25em;
    margin-right: 25px;
    margin-top: 2px;
    color: rgb(216, 216, 216);
    text-decoration: none;
    display: inline-block;
}

.nav .fi {
    font-size: 20px;
    margin-right: 15px;
    padding: 5px;
    cursor: pointer;
    transition: color 0.1s ease-in-out;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    text-decoration: none;
    color: white;
}

.linkedin {
    width: 30px;
    height: 30px;
    isolation: isolate;
}

.linkedin .color {
    position: static;
    transition: all 0.1s ease-in-out;
    background-color: rgb(10, 102, 194);
    width: 100%;
    height: 0px;
    margin-top: -100%;
    mix-blend-mode: multiply;
    transition: height 0.4s ease-out;
    pointer-events: none;
}

.linkedin:hover .color {
    height: 100%;
}



.nav .fi-github:hover {
    color: rgb(36, 41, 46);
}

.nav .fi-email:hover {
    color: rgb(0, 120, 212);
}

/** Socials **/

.nav .socials {
    position: absolute;
    right: 10vw;
}

.socials video {
    width: 45px;
    height: 45px;
}

.waves-svg {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
}

/* Mobile */
@media (max-width: 600px) {
    .nav .socials {
        position: inherit;
        margin-top: 10px;
    }

    .project br {
        display: none;
    }

    .footer {
        margin-top: 10px !important;
        padding: 0px 20px 0px 20px;
    }

    .footer .copyright {
        margin-top: 20px;
    }
}

/* Footer */
.footer {
    margin-top: 100px;
}

.footer .divider {
    width: 94vw;
    margin-left: 3vw;
    height: 2px;
    background-color: #f3f4f5;
    border-radius: 10px;
}

.footer .contacts {
    border-right: #f3f4f5 2px solid;
    padding: 20px 0px 20px 0px;
}

.footer .contacts .row * {
    display: inline-block;
}

.footer .fi {
    color: white;
}

.footer span {
    cursor: pointer;
}

.footer p {
    color: rgb(92, 92, 92);
}

.footer .copyright {
    color: grey;
    text-align: center;
    text-decoration: none;
    width: 100%;
    font-weight: normal;
}

.footer .col-3 img {
    width: 100%;
    height: auto;
}

.footer .contactme {
    margin-top: 30px;
}

.footer .contactme h2 {
    font-family: 'Ubuntu', sans-serif;
}

.footer .contactme .btn {
    padding: 10px;
}

.project:first-child {
    cursor: pointer;
    -webkit-mask-image: -webkit-gradient(linear, right top, left top, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0)));
    padding-right: 30px;
}

.project:last-child {
    cursor: pointer;
    -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    padding-left: 30px;
}

.curve-shadow {
    background: linear-gradient(0deg, rgba(20,20,20,0) 0%, rgb(60, 60, 60) 20%, rgb(104, 104, 104) 30%, rgb(104, 104, 104) 77%, rgba(0,0,0,0) 100%);
    position: absolute;
    top: 70vh;
    width: 100vw;
    height: 500px;
}

/** Project Cards **/

.project-image-container {
    border-radius: 10px;
    max-height: 500px;
    cursor: pointer;
    transition: ease-in 0.15s all;
    background-color: #f3f4f5;
    margin-bottom: 20px;
    /* Fallback in JS */
    aspect-ratio: 1.805;
    border-left: solid 7px rgb(239, 50, 61);
    border-bottom: solid 7px rgb(239, 50, 61);
    outline: 4px rgb(239, 50, 61);
}

.big-project {
    animation: floating 3s ease-in-out infinite;
}

.project-image {
    width: 100%;
    outline: black 30px;
    border-radius: 5px;
    transition: ease-in 0.15s all;
    background-size: 100%;
    background-position: center;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    overflow: hidden;
    /* Fallback in JS */
    aspect-ratio: 1.805;
}

@keyframes floating {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-4px);
    }
    100% {
        transform: translateY(0px);
    }
}

.project:hover .project-image {
    background-size: calc(100% + 10px);
}
.loaded {
    opacity: 1 !important;
}

.project .title {
    font-family: 'Ubuntu', sans-serif;
    font-weight: thin;
}

.project video {
    width: 106%;
    margin-left: -3%;
    visibility: hidden;
    transform: scale(0.98);
    transition: ease-in-out all 0.1s;
    opacity: 0;
}

.project .shadow {
    width: 150%;
    margin-left: -25%;
    height: 80px;
    background: radial-gradient(ellipse, rgba(20,20,20,0.5) 0%, rgba(0,0,0,0) 60%);
    box-shadow: unset !important;
}

.project:hover video {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}

.small-project .project-image-container {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.small-project h3 {
    font-size: 1.3rem;
    text-align: center;
}

.small-project p {
    opacity: 0;
    transition: ease-in-out 0.1s opacity;
}

.small-project:hover p {
    opacity: 1;
}

.tag {
    color: white !important;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    margin-right: 5px;
    border-radius: 100px;
    font-size: .8em;
    font-weight: bold;
    text-decoration: none;
}

.preloading {
    background-color: #f3f4f5;
    border-radius: 20px;
    width: 100%;
}

#project-selector p {
    font-weight: bold;
    text-align: right;
    width: 100%;
    cursor: pointer;
    margin-bottom: 0px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 10px;
    font-size: 18px;
    border-right: grey 1px solid;
    user-select: none;
}

#project-selector p:hover, #project-selector .active {
    background-color: rgba(180, 180, 180, 0.2);
}

.project-info {
    transition: ease-in 0.15s all;
    color: rgb(192, 192, 192);
}

.col-4:hover .project-info {
    color: white;
    cursor: pointer;
}


/** Site Displayer Modal **/
#site-displayer {
    border-radius: 5px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    max-height: 90vh;
    padding: 0px !important;
    filter: drop-shadow(0 0 0.5rem #acacac);
    background-color: #7782d2;
    color: white;
    z-index: 100;
    border: none;
    overflow: hidden;
}
#site-displayer .spinner-border {
    position: absolute;
    top: 0px;
    right: 20%;
    left: 0px;
    bottom: 0px;
    margin: auto;
    z-index: 1;
}

.close {
    position: absolute;
    right: 15px;
    top: 5px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: white;
    transition: ease-in 0.1s all;
    cursor: pointer;
}

#background-click-catcher {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 10;
}

.card iframe {
    height: 100%;
    width: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    z-index: 10;
    position: relative;
    transition: ease-in 0.1s opacity;
    overflow: hidden;
}

#site-displayer .row * {
    max-height: 100%;
}

#site-displayer .row {
    height: 100%;
}

#site-displayer-content {
    overflow-y: auto;
    padding-right: 30px;
}
.expanding {
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 10vh;
    height: 10vh;
    border-radius: 100vw;
    animation: ease-in-out 0.8s expanding;
    z-index: 20;
    visibility: hidden;
}

@keyframes expanding {
    0% {
        visibility: visible;
        transform: scale(1);
    }
    75% {
        transform: scale(50);
        opacity: 1;
    }
    100% {
        transform: scale(50);
        opacity: 0;
    }
}

#background-click-catcher {
    background-color: rgba(0,0,0,0.15)
}