body {
    padding-top: 100px;
    padding-bottom: 100px;
}

body,html{
    scrollbar-color: #e23b43 #c42830;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background-color: #c42830;
}

body::-webkit-scrollbar-thumb {
    background-color: #e23b43;
}

video {
    max-width: 70vw !important;
    overflow: hidden;
    border-radius: 5px;
    justify-content: center;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.github {
    max-height: 18vh;
    max-width: 25vw !important;
    overflow: hidden;
    padding: 0px !important;
    border-radius: 5px;
    box-shadow: 0 0 10px #b9b9b9;
    transition: ease-in-out 0.1s box-shadow;
    cursor: pointer;
}

.github:hover {
    box-shadow: 0 0 12px #9b9b9b;
}

.github-info {
    border-radius: 10px;
    border: 1px #e2e2e2 solid;
    background-color: #f8f8f8;
    height: 50px !important;
    display: inline-block;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 4px !important;
    min-width: 313px !important;
    max-width: 313px !important;
    cursor: pointer;
}

.github-info img {
    height: 25px;
    padding-right: 10px;
}

.github-stat {
    border-radius: 10px;
    border: 1px #7e7e7e solid;
    background-color: white;
    max-width: 115px !important;
    min-height: 40px !important;
    height: 40px !important;
    display: inline-block;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.github-stat svg {
    margin-top: -2px;
}

.github-stat .label {
    color: #6b6b6b;
    text-decoration: none;
    padding-top: 2px;
    line-height: 1px;
    padding-bottom: 2px;
    display: inline-block;
}

.github-stat .value {
    border-left: 1px #d6d6d6 solid;
    padding-left: 9px;
    text-decoration: none;
    color: black;
    padding-top: 2px;
    padding-bottom: 2px;
    display: inline-block;
}

.stars {
    border: 1px #f0b106 solid !important;
}

.stars .label {
    color: #f0b106 !important;
}

.stars .value {
    border-left: 1px #f0b106 solid !important;
}

.brand {
    position: absolute;
    max-width: 300px !important;
    display: block;
    left: 0px;
    top: 20px;
    right: 0px;
    margin: auto;
}

.brand .logo {
    width: 60px;
    display: inline-block;
    margin-top: -20px;
    padding-right: 10px;
}

.brand span {
    display: inline-block;
    font-size: 2.5rem;
    font-family: var(--bs-font-sans-serif);
    font-weight: bold;
    width: 200px;
}

iframe {
   display: block;
   margin: 0 auto;
}

.tags {
    display: inline-block;
}

.tag {
    display: inline-block;
    color: white !important;
    background-color: #eb4e56;
    border-radius: 1000px;
    padding: 8px 15px 8px 15px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 5px;
}

.expanding-col {
    max-width: 60vw !important;
    display: block;
    margin: 0 auto;
    justify-content: center;
}

@media only screen and (max-width: 1000px) {
    .expanding-col {
        max-width: 80vw !important;
    }
}

.btn-primary {
    border-color: #eb4e56 !important;
    border-radius: 1000px !important;
    background-color: #eb4e56 !important;
}

.gradient {
    height: 300px;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgb(238, 238, 238) 100%); 
    z-index: -1;
}